<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar | Tema</title>

    <!-- Archivo CSS para el estilo del formulario -->
    <link rel="stylesheet" href="../css/editar_Tema/editarTema.css">
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="container">
        <h1>Editar Tema</h1>
        <form>
            <label for="materia">Materia:</label>
            <select id="materia" name="materia" required>
                <option value="">Seleccione una materia</option>
                <option value="1">Materia-1</option>
                <option value="2">Materia-2</option>
                <option value="3">Materia-3</option>
            </select>

            <label for="nombre">Nombre del Tema:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del tema" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" placeholder="Ingrese una descripción del tema"
                required></textarea>

            <div class="cont-btn">
                <button type="submit">Guardar Cambios</button>
            </div>

        </form>
    </div>


</body>

</html>