<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar | Materia</title>

    <!-- Archivo CSS para el estilo del formulario -->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/editar_Materia/editarMateria.css">
</head>

<body>
    <div class="container">
        <form>
            <h1>Editar Materia</h1>
            <label for="nombre">
                <em>Nombre de la Materia:</em> 
                <input class="input-items" type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre de la materia" required>
                <span></span>
            </label>

            <label for="codigo">
                <em>Código de la Materia:</em> 
                <input class="input-items" type="text" id="codigo" name="codigo" placeholder="Ingrese el código de la materia" required>
                <span></span>
            </label>

            <label for="creditos">
                <em>Créditos:</em> 
                <input class="input-items" type="number" id="creditos" name="creditos" placeholder="Ingrese el número de créditos" required>
                <span></span>
            </label>


            <div class="cont-btn">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>
    </div>
 <script src="../js/editar_Materia/validarCampos.js"></script>
</body>

</html>