<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas | Estudiantes</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/lista_Notas/listaDeNotas.css">
    <link rel="stylesheet" href="../css/lista_Notas/modal.css">
</head>

<body>
    <main>
        <form action="#" class="contNotas" method="post">
            <h1>Notas</h1>
            <hr class="hr">
            <table id="students-table">
                <thead>
                    <tr>
                        <th>Código de Estudiante</th>
                        <th>Nombre del Estudiante</th>
                        <th>Grupo</th>
                        <th>Semestre</th>
                        <th>Nota del Tema 1</th>
                        <th>Nota del Tema 2</th>
                        <th>Nota del Tema 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Estudiante 1</td>
                        <td>Estudiante 1</td>
                        <td>Estudiante 1</td>
                        <td>Estudiante 1</td>
                        <td>Estudiante 1</td>
                        <td>Estudiante 1</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Estudiante 2</td>
                        <td>Estudiante 2</td>
                        <td>Estudiante 2</td>
                        <td>Estudiante 2</td>
                        <td>Estudiante 2</td>
                        <td>Estudiante 2</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                        <td>Estudiante 3</td>
                    </tr>
                    <!-- Agrega más filas de estudiantes aquí -->
                </tbody>
            </table>
        </form>

        <button id="modalBtn"><img src="../assets/icons/msn.svg" alt="Abrir formulario"></button>

        <!-- =======================Modal mensaje======================= -->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="conmesanje">
                    <form action="">
                        <p>Escribe tus comentarios</p>
                        <label>
                            <em>Asunto:</em>
                            <input type="text" name="asunto" placeholder="Asunto">
                        </label>
                        <label>
                            <em>Comentario:</em>
                            <textarea name="comentario" cols="30" rows="10"></textarea>
                        </label>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        // Obtener el modal y el botón para abrirlo
        var modal = document.getElementById("modal");
        var btn = document.getElementById("modalBtn");

        // Obtener el elemento de cierre del modal
        var closeBtn = document.getElementsByClassName("close")[0];

        // Abrir el modal cuando se hace clic en el botón
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // Cerrar el modal cuando se hace clic en el botón de cierre
        closeBtn.onclick = function () {
            modal.style.display = "none";
        }

        // Cerrar el modal cuando se hace clic fuera del área del modal
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>