<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New | password</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/recuperarPassWord/recuperar_confirmar_PassWord.css">
    <link rel="stylesheet" href="../css/recuperarPassWord/validarCampo.css">
</head>

<body>
    <main>
        <div class="container">
            <form action="#" method="post" id="formRecuperar">
                <h1>Recuperar contraseña</h1>
                <label for="nueva-contraseña">
                    <em>Nueva contraseña:</em>
                    <input  class="input" type="password" id="nueva-contraseña" name="nueva-contraseña"
                        placeholder="Ingrese su nueva contraseña" required>
                    <span></span>
                </label>
                <label for="confirmar-contraseña">
                    <em>Confirmar contraseña:</em>
                    <input class="input" type="password" id="confirmar-contraseña" name="confirmar-contraseña"
                        placeholder="Confirme su nueva contraseña" required>
                    <span></span>
                </label>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </main>
    <script src="../js/recuperarPassWord/validarCamposPassworConfirm.js"></script>
</body>

</html>