:root {
    --color-primary: #273746;
    --color-secondary: #19B5FE;
    --color-accent: #26C281;
    --color-highlight: #e18c0b;
    --color-danger: #F64747;
    --color-white: #fff;
    --color-gray: #ddd;
}

body {
    background-color: var(--color-primary);
}

.container {
    max-width: 600px;
    margin: 80px auto;
}

h1 {
    color: var(--color-primary);
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 20px;
}

label em {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    border: solid 1px var(--color-gray);
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

.input:focus{
    outline: none;
    border-color: var(--color-primary);
}
button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--color-highlight);
}